.navbar {
    background-image:url("../../../assets/orient.jpg");
}

.nav-icon {
    font-size: 32px;
    text-align: center;
}

.btn { 
    background: transparent;
    color: white;
}

.btn:hover {
    color: goldenrod;
}

.nav-text {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 5px;
    /* text-transform: uppercase; */
    font-variant: small-caps;
    font-family: 'Kanit', cursive;
    margin-top: 5px;
}
