<div class="container">
  <div class="row">
    <div class="col-sm-3 mt-4">
      <ul class="list-group" *ngFor="let a of agents; let i = index">
        <button class="list-group-item list-group-item-action list-group-item-danger active" (click)="showHistory(i)">
          <i class="fa fa-user mr-2"></i>
          {{a.firstName}} {{a.lastName}}
          <span class="badge badge-dark badge-pill">
          </span>
        </button>
      </ul>
    </div>
    <div class="col-lg-12" *ngIf="agents === undefined">
      <div class="text-info text-center font-weight-bold mt-4">You can contact agent after making an reservation.</div>
      <div class="text-info text-center font-weight-bold mt-2">Visit your profile to start an conversation.</div>
    </div>
    <div class="col-9 mt-4" *ngIf="agents !== undefined">
      <div role="document">
        <div class="modal-content">
          <div class="modal-header">
            <pre><h4 class="modal-title modal-border-danger text-dark recipient" id="sendMessage"><strong>CHAT HISTORY</strong></h4><h5><input class="recipient" type="text" [(ngModel)]="agentName"  readonly="readonly" unselectable="on" style="border: none;"></h5></pre>
          </div>
          <div class="container modal-body bg-dark" *ngFor="let m of chat">
            <div class="column">
              <div class="col-lg-6 col-md-6 col-sm-6 border-none message" *ngIf="m.sentBy == 'END_USER'">
              </div>
              <div class="card bg-info w-50 ml-auto message" *ngIf="m.sentBy == 'END_USER'">
                <div class="card-body float-right border-info text-white message messageContent">
                  {{m.content}}
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 card bg-danger message" *ngIf="m.sentBy == 'AGENT'">
                <div class="card-body border-info text-white w-50 mr-auto messageContent">
                  {{m.content}}
                </div>
              </div>
              <div class="col-6" *ngIf="m.sentBy == 'AGENT'"></div>
            </div>
          </div>
          <div class="container my-4">
            <div class="input-group">
              <textarea class="form-control custom-control" rows="1" style="resize:none"
                [(ngModel)]="message"></textarea>
              <span class="input-group-addon btn btn-info" (click)=sendMessage()>SEND</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>