<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="title">Update accommodation: <br />{{name}}</h4>
    </div>
    <div class="modal-body">
      <div class="row text-center">
        <div class="col-lg-12 ">
          <form class="form-horizontal mx-2">
            <fieldset>
              <div class="form-group mx-auto">
                <label class="col-lg-6 control-label attribute mt-4">Name</label>
                <div class="col-lg-12 inputGroupContainer">
                  <input type="text" class="form-control my-input" id="name{{accommodation.id}}" placeholder="Name"
                    [(ngModel)]="modified.name" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <hr />
              <div class="form-group mx-auto">
                <div class="row">
                  <div class="col-4 form-group">
                    <label class="col-lg-6 control-label mt-3 attribute">Category</label>
                    <div class="col-lg-12 inputGroupContainer">
                      <div class="input-group">
                        <select class="form-control my-input mt-1" id="category {{accommodation.id}}"
                          placeholder="Category" [(ngModel)]="selectedCategory" [ngModelOptions]="{standalone: true}">
                          <option value="undefined" disabled selected>{{accommodation.category.name}}
                          </option>
                          <option *ngFor='let category of categories'> {{ category.name }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-4 form-group">
                    <label class="col-lg-6 control-label mt-3 attribute">Type</label>
                    <div class="col-lg-12 inputGroupContainer">
                      <select class="form-control my-input mt-1" id="type {{accommodation.id}}" placeholder="Type"
                        [(ngModel)]="selectedType" [ngModelOptions]="{standalone: true}">
                        <option value="undefined" disabled selected>{{accommodation.type.name}}</option>
                        <option *ngFor="let type of types">{{type.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-4 form-group">
                    <label class="col-lg-6 control-label mt-3 attribute">Capacity</label>
                    <div class="col-lg-12 inputGroupContainer">
                      <div class="input-group mt-1"><input id="capacity {{accommodation.id}}" name="capacity"
                          placeholder="Capacity" class="form-control" required="true" value="" type="number"
                          [(ngModel)]="modified.capacity" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr />
              <div class="form-group mx-auto">
                <label class="col-lg-6 control-label attribute mt-3">Description</label>
                <div class="ccol-lg-12 inputGroupContainer">
                  <textarea class="input-group" rows="4" cols="50" id="description {{accommodation.id}}"
                    name="description" placeholder="Description" class="form-control" required="true" value=""
                    type="text" [(ngModel)]="modified.description" [ngModelOptions]="{standalone: true}"></textarea>
                </div>
              </div>
              <hr />
            </fieldset>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                <i class="fas fa-times mr-1"></i>
                Close
              </button>
              <button class="btn btn-outline-success" (click)="confirm()" data-dismiss="modal">
                <i class="fa fa-check mr-1"></i>
                Confirm
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>