<div class="container mx-auto">
	<div class="mt-4" role="document text-center">
		<div id="signup-modal" class="modal-md modal-content">
			<div id="header" class="modal-header">
				<div class="container">
					<div class="row">
						<div class="ml-4 col-lg text-center">
							<p class="h3 text-white">REGISTRATION</p>
						</div>
						<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="false">&times;</span>
						</button>
					</div>
				</div>
			</div>
			<div id="content" class="container text-center p-3 rounded">
				<form method="post">
					<div [formGroup]="signupInfo" class="form-group mx-auto mt-2 w-50">
						<i class="icon fas fa-users"></i>
						<input formControlName="username" type="text" class="form-control my-3" placeholder="Username"
							required>
						<input formControlName="password" type="password" class="form-control mb-3"
							placeholder="Password" required>
						<input formControlName="firstName" type="text" class="form-control my-3"
							placeholder="First Name" required>
						<input formControlName="lastName" type="text" class="form-control mb-3" placeholder="Last Name"
							required>
						<input formControlName="email" type="email" class="form-control mb-3" placeholder="Email"
							required>
						<button (click)="signUp()" class="btn btn-block btn-outline-cyan">SIGN
							UP</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>