<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="h4 modal-title text-gold" id="postComment">NEW COMMENT</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <span>
          <label class="h6 text-gold">{{reservation.accommodation.name}}</label>
        </span>
      </div>
      <div>
        <span>
          <textarea class="form-control" rows="5" [(ngModel)]="comment.content"></textarea>
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
      <button (click)="post()" type="button" class="btn btn-outline-gold" data-dismiss="modal">Post</button>
    </div>
  </div>
</div>