.table-header-text {
    color: darkcyan;
    background: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.table-body-text {
    color: black;
    background: white;
    text-align: center;
    font-size: 18px;
}

.btn-create {
    font-size: 16px;
}