.title {
    color: rgb(224, 181, 63);
    text-transform: uppercase;
    text-align: center;
}

.form-control {
    font-variant: small-caps;
}


label {
    text-transform: uppercase;
    color: rgb(224, 181, 63);
}