.description {
    height: fit-content;
    text-justify: newspaper;
}

.icon {
    font-size: 24px;
}

.comment-style {
    font-family: 'Comfortaa', cursive;
    /* font-family: 'Marcellus', serif; */

}

.attribute {
    font-size: 16;
    text-transform: uppercase;
}

.message {
    font-family: 'Marcellus', serif;
    font-size: 18;
}