

#content {
    background-image:url("../../../assets/background.jpg");
}

#header {
    background-color: darkcyan;
}

.modal-header .close {
    color: white;
}

.icon {
    font-size: 96px;
    color: darkcyan  ;
}

.btn-outline-cyan {
    color: darkcyan;
    background-color: white;
    border-color: darkcyan;
    letter-spacing: 5px;
    font-size: 18px;
}

.btn-outline-cyan:hover {
    background-color: darkcyan;
    color: white;
    border-color: darkcyan;
    letter-spacing: 5px;
    font-size: 18px;
}

.form-control {
    font-variant: small-caps;
    font-weight: 500;
    font-size: 21px;
    letter-spacing: 1px;
}