

#content {
    background-image:url("../../rsrc/background.jpg");
}

#header {
    /* background-image:url("../../rsrc/seamlessnav.jpg"); */
    background-color: #062a3b;
}

.modal-header .close {
    color: white;
}

.icon {
    font-size: 96px;
    color: #062a3b  ;
}

.btn-outline-primary {
    color: #062a3b;
    background-color: transparent;
    border-color: #062a3b;
}

.btn-outline-primary:hover {
    background-color: #062a3b;
    color: white;
    border-color: #062a3b;
}