/* You can add global styles to this file, and also import other style files */
.background {
    background-image:url("assets/background.jpg");
    background-repeat: repeat;
}

body {
    font-family: 'Marcellus', serif;
}